*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*##############################Landing Page Styling##################################################*/
.landing-page{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    width: 100vw;
    height: 87vh;
    margin-bottom: 2rem;
    background-image:url("images/Landing_Page_img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-page img{
    padding: 1rem;
}
.change{
    display: flex;
    flex-basis: 100%;
    
}
.head , .email{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    padding: 1.5rem;
}
.club_name h1{
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 4rem;
}
.club_name h3{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 2rem;
}
/*########################################Info###############################################*/
.info_section{
    display: flex;
    padding: 3rem 25%;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: justify;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 1.5rem;
}
/********************************************************Showcase Styling***************************************************/
.showcase{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    align-content: space-between;
}
.showitem{
    display:flex;
    flex-basis: 20%;

}
.showcase .blank{
    flex-basis: 100%;
    height: 2rem;
}
.showitem-button{
    height: 2rem;
    width: 100%;
}
.showitem-button button{
    display: inline-block;
    position: relative;
    left: 22%;
    width: 64%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 1vw;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*******************************************Merch*****************************************************/
.merch{
    display: flex;
    padding: 0 14%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.merch h1{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 3vw;
}
.merch p{
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 1vw;
}
.merch img{
    object-fit: contain;
    max-width: 100%;
}
.merch_contact{
    flex-basis: 30%;
}
/********************************************Homepage Gallery******************************************************/
.home-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
}
.home-gallery h1{
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 2vw;
}
.blank{
    display: flex;
    flex-basis: 100%;
}
.home-images{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70vw;
    height: 57vw;
    background-image: url("Images/home_gallery_img1.png"),url("Images/home_gallery_img2.png"),url("Images/home_gallery_img3.png"),url("Images/home_gallery_img4.png");
    background-position: left top,right top,left bottom,right bottom;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 62.15% 50%,37.84% 50%,40% 50%,60% 50%;
}
.home-images button{
    display: inline-block;
    width: 17%;
    height: 5%;
    margin-bottom: 3rem;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 100%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-overflow: clip;
}
/**********************************************Footer**************************************************************************/
.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.footer-iiti{
    padding-bottom: 19px;
}
.foot-2-1{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
.foot-2-2{
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.footer a{
    color: black;
    font-size: 1.5rem;
    padding: 0 1rem;
}
.foot-3 p{
    display: inline-block;
}
.foot-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}
/*********************************************optimising homepage************************************************/
@media(max-width:850px){
    .showcase{
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        justify-items: center;

    }
    .head,.email{
        display: none;
    }
    .landing-page{
        justify-content: center;
    }
    .landing-page .club_name h1{
        font-size: 2rem;
        text-align: center;
    }
    .landing-page .club_name h3{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 10rem;
    }
    .showitem{
        padding-bottom: 1rem;
    }
    .showitem-button button{
        overflow: visible;
        position: absolute;
        left: 50vw;
        transform: translate(-50%);
        width: 5rem;
        height: 1.5rem;
        font-size: 1rem;
    }
    .info_section{
        font-size: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .merch{
        flex-direction: column; 
    }
    .merch h1{
        font-size: 2rem;
    }
    .merch p{
        font-size: 1rem;
    }
    .home-gallery h1{
        font-size: 2rem;
    }
    .home-gallery button{
        width: 5rem;
        height: 2rem;
    }
    .foot-3{
        flex-direction: column;
    }
}
