{% extends "base.html" %}

{% block title %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}
<div class="header_logos">
    <img src="{{ url_for('static', filename='images/indorelogo.png') }}" alt="IIT Indore Logo" id="collegelogo">
    <img src="{{ url_for('static', filename='images/club_icon.png') }}" alt="AVANA Logo" id="clubicon">
</div>

<div class="contact-container">
    <!-- Contact Details Section -->
    <div class="contact-details">
        <h2 class="section-heading">Contact Us</h2>
        <div class="contact-item">
            <i class="fas fa-user icon"></i>
            <p>Viljit Balsori (Club Head) - +91 8739973988</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-user icon"></i>
            <p>Abneesh Kumar (Club Co-Head) - +91 9456448795</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-user icon"></i>
            <p>Pradeep Kumar (Website Developer) - +91 8073010756</p>
        </div>
    </div>

    <!-- Address Section -->
    <div class="contact-address">
        <h2 class="section-heading">Address</h2>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt icon"></i>
            <p>Indian Institute of Technology Indore, Khandwa Road, Simrol, Indore 453552, INDIA</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope icon"></i>
            <p><a href="mailto:avana@iiti.ac.in">avana@iiti.ac.in</a></p>
        </div>
    </div>
</div>
{% endblock %}